@import "tailwindcss";

@theme {
  --color-neon-pink: #ff00ff;
  --color-neon-green: #39ff14;
  --color-electric-blue: #00ffff;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #020617; /* Slate 950 essentially */
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

::selection {
  background: #ff00ff;
  color: #ffffff;
}
